.about-container{
    margin: 4rem 6rem;
    text-align: start;
}

.about-container h1{
    padding-bottom: 1rem;
}

.about-container p{
    padding-bottom: 2rem;
    white-space: pre-line;
}

.about-content {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
}

.about-image {
  width: 40%;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.about-text {
  flex: 1;
}

@media screen and (max-width:850px){
    .about-container{
    margin: 4rem 2rem;
}

}